<!DOCTYPE html>
<html lang="en">
<head>
    <title>MightSpace</title>
    <meta charset="UTF-8">

    <title>Lab 5</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

    
<body class="marist_background">
    <nav>
        <ul>
            <li> <a href="/mightSpace_help"> MightSpace Help</a> </li>
            <li> <a href="/resources"> Resources </a> </li>
            <li> <a href="/bad4">Forgot Password?</a> </li>
        </ul>
    </nav>
       <h1> MightSpace Login Page </h1>
       <h1> Where you might be able to see your grades and assignments!</h1>
       <h1> <strong> Let's roll the dice! &#128517; </strong> <h1>
            <p> Enter your User ID:   <input type="text" id="userId"> </p>
            <p> Enter your Password:  <input type="password" id="password"> </p>
            <br>

            <div id="div1">
            <p>  <p> Remember your Username is <strong><u> OwenT </u></strong> and your password is <strong><u> mypassword </u></strong> </p>
            </div>
            <div id="div2">
            <p> One of these buttons actually works...hover over each to find a functional one </p>
            </div>
            <p id="userMessage"></p> 
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button class="login_button" onclick="login()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="log()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="login()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>
            <button onclick="logi()">Login</button> <button onclick="logi()">Login</button>       
    <footer class="marist_footer">
            <hr>
            <small> &copy; Marust College For Support call 1800-ummmm</small>
    </footer>
    
    <script>
        function login() 
        {
            var userElement = document.getElementById("userId");
            var passwordElement = document.getElementById("password");

            var userId = userElement.value.trim();
            var password = passwordElement.value.trim();

            var message = document.getElementById("userMessage");

          if (userId == "" && password == "")
          {
            message.textContent = "Error! Please enter your User ID and Password";
          }//if userID & password fields are left blank when "Login" button is clicked
                else if (userId == "")
                {
                    message.textContent = "Error! Please enter your User ID";
                }//if userID field is left blank
                    else if (password == "")
                    {
                        message.textContent = "Error! Please enter your Password";
                    }//else-if password field is left blank
                        else if (userId == "OwenT" && password == "mypassword")
                        {
                            message.textContent = "Login Successful!...Welcome!";
                        }//else-if userId & password are correct
                            else
                            {
                                message.textContent = "Invalid Credentials, please try again!"
                            }//else if userId and password field both have inputs but are incorrect
        }//login
    </script>
</html>
